*{
    font-family: 'Courier New', Courier, monospace;
}
#page-title{
    
    font-weight: bold;
    font-size: larger;
    text-align: center;
    
}
body{
    background-color: darkgray;
}
.portfolio-item{
    font-weight: bold;
    text-align: center;
    padding: 20px 20px;
    margin: 20px 20px;
    display: block
}
.portfolio-item img{
    border: 10px lightslategray;
    border-style: solid;
    border-radius: 20px;
}
a{
    color: honeydew;
    font-size: medium;
    
}
