*{
    font-family: 'Courier New', Courier, monospace;
}
#page-title{
    
    font-weight: bold;
    font-size: larger;
    text-align: center;
    
}
body{
    background-color: darkgray;
}
.portfolio-item{
    font-weight: bold;
    text-align: center;
    display: block;
}